@import 'reboot';

[data-scene="liquid-box"] canvas {
  filter: url('#particles-filter');
}

[data-cursor] {
  $size: 3.5vw;
  position: fixed;
  top: calc(#{$size} / -2);
  left: calc(#{$size} / -2);

  width: $size;
  height: $size;

  border-radius: 50%;
  background-color: #ffffff;
  pointer-events: none;
  mix-blend-mode: difference;

  will-change: transform
}