---
import Layout from '../layouts/Layout.astro';
---


<Layout title="Brick wave">
	<main>
    <div class="scene-container" data-scene="circles">
      <canvas></canvas>
    </div>
	</main>
</Layout>

<style>
  body {
    overflow: hidden;
  }
  
  [data-scene="circles"] {
    background-color: #333333;
  }
</style>