---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Drag grid">
	<main>
    <div class="scene-container" data-scene="drag-grid">
		</div>
	</main>
</Layout>

<style>
	.scene-container {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
</style>