---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Egg">
	<main>
    <div class="scene-container" data-scene="egg"></div>
	</main>
</Layout>

<script src="/src/scripts/scenes/Egg.ts"></script>