---
import Layout from '../layouts/Layout.astro';
// import './../scripts/scenes/ImageShader.ts'
---

<Layout title="Image shader">
	<main>
    <div class="scene-container" data-scene="image"></div>
	</main>
</Layout>

<script src="../scripts/scenes/ImageShader.ts"></script>