---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sitemap">
	<main>
		<h1>Тут будет плитка с модельками</h1>
		<h2>пока держи ссылки</h2>
		<ol>
			<li>
				<a href="brick-wave">Brick wave</a>
			</li>
			<!-- <li>
				<a href="img-slider">Image slider</a>
			</li> -->
			<li>
				<a href="cloud-grid">Cloud grid</a>
			</li>
			<li>
				<a href="liquid-box">Liquid box</a>
			</li>
			<li>
				<a href="blob">Blob</a>
			</li>
			<li>
				<a href="circles">Circles</a>
			</li>
			<li>
				<a href="lines">Lines</a>
			</li>
		</ol>
	</main>
	<div data-cursor />
</Layout>
