---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sitemap">
	<main>
		<h1>Тут будет плитка с модельками</h1>
		<h2>пока держи ссылки</h2>
		<ol>
			<li>
				<a href="brick-wave">Brick wave</a>
			</li>
			<li>
				<a href="img-slider">Image slider</a>
			</li>
			<li>
				<a href="cloud-grid">Cloud grid</a>
			</li>
		</ol>
	</main>
</Layout>
