---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Test shader">
	<main>
    <div class="scene-container" data-scene="torus-shader"></div>
	</main>
</Layout>

<script src="/src/scripts/scenes/TorusShader.ts"></script>